@import "bourbon";
@import "vars.scss";

@media (max-width: 1900px) and (min-width: 1200px) {
    #sec_07 .item{ margin-bottom: 90px;}
}


@media (min-width: 768px) and (max-width: 991px){
  .main_wrap{
    padding: 0;
  }
  #sec_02{
    padding-top: 150px;
    .item{
      br{display: none}
    }
  }
  #sec_03{
    .header{
      margin-bottom: 35px;
    }
    img{width: 100%;}
    .animation_block{
      margin-top: 72px;
    }
    .content_animation{
      &:before{
        font-size: 740px;
      }
    }
  }
  #sec_04{
    .content_block{
      padding-left: 0px;
      .header{
        font-size: 34px;
        line-height: 38px;
        margin-bottom: 30px;
      }
    }
    .star_text{
      max-width: 60%;
    }
  }
  #sec_05{
    padding-bottom: 130px;
    background: none;
    .mobile{
      display: block;
      margin: 20px 0;
    }
    .afterheader{
      margin-top: 0;
    }
    .item, .item:hover{
      .title.animated:before, .title.animated:after{
        width: 100%;
      }
    }
    .col-5, .col-7{
      width: 50%;
    }
    .item+.item{margin-top: 49px;}
  }
  #sec_06{
    padding-bottom: 105px;
    padding-top: 150px;
    .block_years{
      position: relative;
      display: inline-block;
      top: initial;
      bottom: 70px;
      right: initial;
      left: -320px;
    }
    .slider_06{
      margin-bottom: 0px;
    }
    .sec_06-slider_controll{
      bottom: 0;
    }
    .numbers_block{
      .item{
        max-width: 155px;
        margin-right: -20px;
        margin-bottom: 35px;
      }
    }
  }
  #sec_07{
    padding: 100px 0 20px;
    .item{
      margin-bottom: 90px;
      br{display: none}
    }
    .mycol-4{
      width: 50%;
    }
    .wrap:before{
      display: none;
    }
    .wrap:after{
      left: 50%;
    }
  }
  #sec_08{
    form{
      width: 300px;
      margin: 0 auto;
      .input_box{
        float: right;
      }
    }
  }
  #sec_09{
    padding-bottom: 80px;
    .header{
      margin-right: -40px;
      font-size: 32px;
    }
    .number_perc{
      margin-left: 20px;
      font-size: 110px;
    }
    .vertical_text{
      right: -5px;
    }
    .first_title{
      margin-top: 0;
    }
  }
  #sec_10{
    .col-5, .col-7{width: 100%; padding-left: 15px;}
    .text{
      br{
        display: none;
      }
    }
  }
  #sec_11{
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url(../img/sec_10-img-2.png);
  }
  #sec_12{
    padding: 180px 0 140px;
    form{
      width: 320px;
      margin: 0 auto;
      .input_field, .textarea_field{
        float: none;
        display: block;
        width: 320px;
      }
      .input_field+.input_field{
        margin-left: 0;
        margin-top: 40px;
      }
      textarea{
        width: 220px;
      }
      .btn_white{
        float: none;
        margin: 30px auto 0;
        width: 320px;
      }
    }
    .header{
      font-size: 29px;
    }
  }
  footer{
    .politics a{
      font-size: 13px;
      letter-spacing: 0;
    }
  }
}

@media (min-width: 992px) and (max-width: 1200px){
  .main_wrap{
    padding: 0;
  }
  .container{
    padding: 0 50px;
  }
  #sec_02{
    padding-top: 150px;
  }
  #sec_03{
    img{width: 100%;}
    .animation_block{margin-top: 0;}
  }
  #sec_04{
    .content_block{
      padding-left: 20px;
    }
  }
  #sec_06{
    padding-bottom: 135px;
    .block_years{
      position: relative;
      display: inline-block;
      top: initial;
      bottom: 70px;
      right: initial;
      left: -390px;
    }
    .slider_06{
      margin-bottom: 0px;
    }
    .sec_06-slider_controll{
      bottom: 0;
    }
    .numbers_block{
      .item{
        max-width: 170px;
      }
    }
  }
  #sec_07{
    .item{
      margin-bottom: 90px;
      br{display: none}
    }
  }
  #sec_08{
    form{
      width: 300px;
      margin: 0 auto;
      .input_box{
        float: right;
      }
    }
  }
  #sec_09{
    .header{
      margin-right: -40px;
    }
    .number_perc{
      margin-left: 20px;
    }
    .vertical_text{
      right: -5px;
    }
    .first_title{
      margin-top: 0;
    }
  }
  #sec_10{
    .text{
      br{
        display: none;
      }
    }
  }
  #sec_11{
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url(../img/sec_10-img-2.png);
  }
  #sec_12{
    padding: 180px 0 140px;
    form{
      width: 320px;
      margin: 0 auto;
      .input_field, .textarea_field{
        float: none;
        display: block;
        width: 320px;
      }
      .input_field+.input_field{
        margin-left: 0;
        margin-top: 40px;
      }
      textarea{
        width: 220px;
      }
      .btn_white{
        float: none;
        margin: 30px auto 0;
        width: 320px;
      }
    }
    .header{
      font-size: 32px;
    }
  }
}

@media screen and (max-height: 760px){
  .md_large .md_content {max-height: 320px;}
}

@media (max-width: 767px) {
.btn_white{
  width: 100% !important;
  max-width: 320px;
  letter-spacing: .05em;
}
.content_animation, .item,
.field, .textarea_field,
.slider_09, .content_block, .btn_white{opacity:1 !important;}
.fade-in-left {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
}
.fade-in-right {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
}
.fade-in-bottom {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
}
.fade-in-top {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
}
.puff-in-hor {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
}

  .main_wrap{
    padding: 0;
  }
  #sec_02{
    padding-top: 100px;
    .item{
      margin: 30px auto 0 !important;
      max-width: initial;
      br{display: none}
    }
    .mobile_slider_02,
    .mobile_slider_02-slider_controll {display: block;}
    .mobile_slider_02-slider_controll{
      margin-top: 50px;
    }
    .desctop{display: none}
    .beforeheader,
    .header,
    .header_main,
    .sec_number{
      width: 380px;
    }
  }
  #sec_03{
    padding-bottom: 70px;
    padding-top: 30px;
    .header{
      margin-bottom: 35px;
    }
    .animation_block{
      display: none
    }
    .content_animation{
      &:before{display:none}
    }
  }
  #sec_04{
    .desctop{display: none}
    .mobile{
      display: block;
      margin-bottom: 40px;
      .text{max-width: 100%;}
    }
    .content_block{
      padding-left: 0px;
      .header{
        font-size: 34px;
        line-height: 38px;
        margin-bottom: 30px;
      }
    }
    .slider_04{
      img{width: 100%;}
    }
    .star_text{
      width: 70%;
    }
  }
  #sec_05{
    padding-bottom: 130px;
    background: none;
    .header{
      font-size: 26px;
      &:before{
        top: 17px;
      }
    }
    .mobile{
      display: block;
      margin: 40px 0;
    }
    .afterheader{
      margin-top: 0;
    }
    .item, .item:hover{
      .title.animated:before, .title.animated:after{
        width: 100%;
      }
    }
    .col-5, .col-7{
      width: 50%;
    }
    .item+.item{margin-top: 33px;}
    .btn{
      width: 100%;
      text-align: center;
    }
    .item{
      float: none;
      .text{
        line-height: 19px;
      }
      .title{font-size: 14px;}
    }
  }
  #sec_06{
    padding-bottom: 0px;
    padding-top: 150px;
    .block_years{
      position: relative;
      display: inline-block;
      top: initial;
      bottom: 70px;
      right: initial;
      left: -320px;
    }
    .slider_06{
      display: none;
    }
    .sec_06-slider_controll{
      display: none;
    }
    .numbers_block{
      .item{
        max-width: 230px;
        margin-right: 20px;
        margin-bottom: 35px;
      }
    }
  }
  #sec_07{
    padding: 100px 0 20px;
    .item{
      margin-bottom: 90px;
      br{display: none}
    }
    .mycol-4{
      width: 50%;
    }
    .wrap{
      display: none;
    }
    .mobile_slider_07,
    .mobile_slider_07-slider_controll {display: block;}
    .mobile_slider_07{
      margin-top: 30px;
      img, .title, .text{
        max-width: 433px;
      }
    }
  }
  #sec_08{
    text-align: center;
    padding: 100px 0;
    form{
      width: 300px;
      margin: 60px auto 0;
      .input_box{
        float: right;
      }
    }
  }
  #sec_09{
    overflow: hidden;
    padding-bottom: 80px;
    .col-4, .col-3{
      width: 50%;
    }
    .header{
      margin-right: 0px;
      font-size: 32px;
      margin-bottom: 70px;
    }
    .number_perc{
      line-height: 130px;
      margin-left: 20px;
      font-size: 110px;

    }
    .vertical_text{
      right: initial;
      left: 200px;
      &:before{
        width: 110px;
        left: -27px;
      }
    }
    .first_title{
      margin-top: 0;
    }
    .second_title{
      margin-top: 50px;
      margin-left: 0;
      &:before{
        display: none;
      }
    }
    .sec_number{
      display: none;
    }
    .sec_09-slider_controll{
      float: left;
      margin-top: 15px;
      opacity: 1;
    }
    .second_row{
      margin-bottom: 10px;
    }
  }
  #sec_10{
    .col-5, .col-7{width: 100%; padding-left: 15px;}
    .text{
      br{
        display: none;
      }
    }
  }
  #sec_11{
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url(../img/sec_10-img-2.png);
  }
  #sec_12{
    padding: 100px 0 100px;
    text-align: center;
    form{
      width: 320px;
      margin: 60px auto 0;
      .input_field, .textarea_field{
        float: none;
        display: block;
        width: 320px;
      }
      .input_field+.input_field{
        margin-left: 0;
        margin-top: 40px;
      }
      textarea{
        width: 220px;
      }
      .btn_white{
        float: none;
        margin: 30px auto 0;
        width: 320px;
      }
    }
    .header{
      font-size: 29px;
    }
  }
  footer{
    text-align: center;
    .politics{
      a{
         font-size: 14px;
         display: block;
         text-align: center;
       }
     a+a{margin-left: 0 }
    }
    .logo_rezart{
      display: inline-block;
      float: none;
      margin-top: 20px;
    }
  }
  div[id*="modal_callback"]{
    min-width: 400px;
    .md-content{
      padding: 35px;
      background: #fff;
    }
    h2{
      margin: 30px 0;
      line-height: 34px;
    }
    form {
      display: block;
      max-width: 390px;
      margin: 0 auto;
      width: 100%;
    }
    .field{
      max-width: 360px;
      width: 100%;
    }
  }
  div[id*='modal_politics']{
    h2{padding-top: 70px;}
    .btn_close_modal{
      top: 20px;
    }
  }
}


@media (max-width: 535px) {
  div[id*="modal_callback"]{
    min-width: 310px;
    .btn_white{
      width: 100%;
    }
    .field{
      input{
        width: 170px;
      }
      .bar{
        width: 170px;
      }
      &:before{
        width: 170px;
      }
    }
  }
  #sec_02 .beforeheader, #sec_02 .header, #sec_02 .header_main, #sec_02 .sec_number{width: 100%;}
  #sec_04{
    .star_text{
      width: 50%;
      font-size: 13px;
    }
  }
  #sec_05{
    .mobile{
      display: none;
    }
    .header{
      margin-bottom: 50px;
    }
  }
  #sec_06{
    .numbers_block{
      .item{
        max-width: 140px;
        margin: 40px auto 0 ;
      }
    }
  }
  #sec_07{
    .wrap:before, .wrap:after{
      display: none;
    }
  }
  #sec_08{
    form{
      width: 100%;
      input{
        width: 200px;
      }
      .bar{
        width: 200px;
      }
      .field:before{
        width: 200px;
      }
      .input_box{
        width: 270px;
        float: none;
        margin: 0 auto;
      }
      .btn_white{
        width: 100%;
        float: none;
      }
    }
  }
  #sec_09{
    padding-top: 100px;
    .header{
      margin-bottom: 20px;
    }
    .number_perc{
      margin-bottom: 20px;
    }
  }
  #sec_10{
    .item{
      &:before{
        display: none;
      }
      padding-left: 90px;
    }
  }
  #sec_12{
    padding-bottom: 90px;
    form{
      width: 100%;
      max-width: 320px;
      .field, .textarea_field{
        width: 100%;
      }
      input, textarea{
        width: 190px;
      }
      .bar{
        width: 190px;
      }
      .field:before{
        width: 190px;
      }
      .input_box{
        width: 100%;
        max-width: 320px;
        float: none;
        margin: 0 auto;
      }
    }
  }
  [class*='col-']{width: 100% !important;}
}