@import "bourbon";
@import "vars.scss";

body {
	position: relative;
	font: 14px/24px $main_font;
	color: $main_text_color;
	background-color: #fff;
    letter-spacing: .01em;
}

body.unscroll{
	overflow: hidden;
}

.main_wrap{
    padding: 0 45px;
    position: relative;
}

.md-modal.md-show{
    opacity: 1;
  }
.md-modal{
    opacity: 0;
  }

.text--header{
    font-family: $main_title_font;
}
.text--title{
    font-family: $title_font;
}
.text--light{
    font-family: $light_font;
}
.text--italic{
    font-family: $italic_font;
}
.text--yellow{
    color: #f4e821;
}


.title{
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: 0;
}
.header{
    font-size: 38px;
    line-height: 44px;
    letter-spacing: .03em;
}
.header_main{
    font-size: 76px;
    line-height: 59px;
    text-transform: uppercase;
    letter-spacing: .015em;
}



/* SCROLL BAR STYLES*/
::-webkit-scrollbar {
    width: 10px;
}
 /* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 20px rgba(0,0,0,  0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: $main_color;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: $main_color;
}

/* BUTTON scrollUP SYLES*/

#scrollup {
    position: fixed;
    right: 20px;
    bottom: 30px;
    width: 30px;
    transform: rotate(180deg);
    display: none;
    opacity: 1;
    cursor: pointer;
    z-index: 10;
    font-size: 40px;
    text-shadow: -2px 2px 5px rgba(0,0,0, 0.3);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    svg{
      fill: #848484;
      transition: all 0.5s;
    }
}

#scrollup:hover{
  svg{fill: $main_color;}
}

.hidden{
    height: 0;
    width: 0;
}
.bar-long {
	height: 5px;
	width: 0;
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	background: $main_color;
}

.btn{
    width: 280px;
    height: 60px;
    border: 3px solid #f4e821;
	background-color: transparent;

	color: $main_color;
	font: 12px $btn_font;
	text-transform: uppercase;
    padding-top: 6px;
    letter-spacing: .2em;
    &:hover{
        background: $main_color;
        border: 3px solid #000;
        color: #000;
    }
}

.btn_white{
    width: 280px;
    height: 60px;
    border: 3px solid #ffffff;
    background-color: #ffffff;

    color: #000;
    font: 12px $btn_font;
    text-transform: uppercase;
    padding-top: 6px;
    letter-spacing: .2em;
    &:hover{
        background: $main_color;
        border: 3px solid #000;
        color: #000;
    }
}


.viber{
    opacity: .5;
    transition: all .4s;
    display: inline-block;
    margin: 0 16px 0 35px;
    &:hover{
        opacity: 1;
        transform: scale(1.2);
        rect {
            transition: all .4s;
            fill: #7b519d;
        }
    }
}

.telegram{
    opacity: .5;
    transition: all .4s;
    display: inline-block;
    &:hover{
        opacity: 1;
        transform: scale(1.2);
        fill: #35A6DE;
    }
}


#sec_01{
    position: relative;
    padding: 9px 0 200px;
    color: #fff;
    height: 100vh;
    overflow: hidden;
    .container{
        position: relative;
    }
    .phone_box{
        margin-top: 8px;
        float: right;
    }
    .tel{
        color: #000;
        position: relative;
        letter-spacing: .025em;
        &:before{
            content: "";
            position: absolute;
            width: 0;
            height: 1px;
            bottom: -4px;;
            left: 0;
            background: #000;
            transition: width .5s;
        }
        &:hover:before{
            width: 100%;
        }
    }
    .top{
        padding-bottom: 7px;
    }
    .pattern_box{
        position: absolute;
        top: 50px;
        bottom: 0;
        left: 0;
        right: 80px;
        background-repeat: repeat;
        background-position: top center;
        background-image: url(../img/pattern.png)
    }
    .content_box{
        position: relative;
        z-index: 10;
        padding-top: 110px;
        margin-top: 310px;
        &:before{
            content: "";
            position: absolute;
            width: 50px;
            height: 3px;
            top: 0;
            left: 0;
            background-color: $main_color;
        }
    }
    h1{
        margin-bottom: 53px;
    }
    .underheader{
        position: relative;
        font-family: $light_font;
        font-size: 18px;
        line-height: 20px;
        padding-left: 48px;
        letter-spacing: .02em;
        &:before{
            content: "";
            position: absolute;
            width: 34px;
            height: 2px;
            top: 50%;
            margin-top: -1px;
            left: 0;
            background: #fff;
        }
    }
    .underheader+.underheader{margin-top: 23px;}
    .btn_block{
        margin-top: 51px;
        margin-bottom: 140px;
    }
    .btn_wrap{
        display: inline-block;
    }
    .btn_wrap+.btn_wrap{margin-left: 25px;}
    .slider_01{
        position: absolute;
        z-index: 5;
        right: 0px;
        top: 50%;
        transform: translateY(-60%);
        left: 44%;
        bottom: 60px;
        img{
            width: 100%;
        }
    }
}

.sec_01-slider_controll,
.sec_04-slider_controll,
.sec_06-slider_controll,
.sec_09-slider_controll{
    width: 100px;
    text-align: center;
    color: #f4e821;
    font-family: $italic_font;
    font-size: 19px;
    letter-spacing: .025em;
    font-weight: 100;
}

@media (max-width: 1900px){
    #sec_01{
        .content_box{
            margin-top: 200px;
        }
    }
}


@media (max-width: 1900px) and (min-height: 1100px) {
    #sec_01{
        min-height: auto;
    }
}


@media (max-width: 1400px) {
    #sec_01{
        .content_box{
            margin-top: 200px;
            padding-top: 80px;
            .header_main{
                font-size: 60px
            }
        }
    }
}

@media (max-width: 1200px) {
    #sec_01{
        .underheader{
            font-size: 16px;
        }
        .header_main{
            font-size: 44px;
            margin-bottom: 20px;
            line-height: 52px;
        }
        .btn_white, .btn{
            width: 220px;
            height: 50px;
            font-size: 10px;
        }
    }
}

@media (max-height: 900px) and (min-height: 761px){
    #sec_01{
        .content_box{
            margin-top: 100px;
            padding-top: 80px;
            .header_main{
                font-size: 60px
            }
        }
    }
}


@media (max-height: 760px) and (min-height: 701px){
    #sec_01{
        .content_box{
            margin-top: 150px;
            padding-top: 60px;
            .header_main{
                font-size: 44px;
                margin-bottom: 20px;
                line-height: 52px;
            }
            .underheader{
                font-size: 14px;
            }
        }
        .btn_block{margin-bottom: 50px;}
        .slider_01 {left: 50%;}
    }
}

@media (max-height: 700px){
    #sec_01{
        .content_box{
            margin-top: 60px;
            padding-top: 60px;
            .header_main{
                font-size: 44px;
                margin-bottom: 20px;
                line-height: 52px;
            }
        }
        .btn_block{margin-bottom: 50px;}
        .slider_01 {left: 55%;}
    }
}


@media (min-width: 768px) and (max-width: 991px){
  .main_wrap{
    padding: 0;
  }
  #sec_01{
    height: auto;
    padding-bottom: 120px;
    .content_box{
        margin-top: 85px;
        .underheader{
            width: 43%;
            font-size: 15px;
        }
        .header_main{
            font-size: 50px
        }
    }
    .pattern_box{
        right: 0;
    }
    .slider_01{
        right: 40px;
    }
    .sec_01-slider_controll {
        display: none;
    }
    .btn_block{
        margin-bottom: 0;
    }
  }
}

@media (max-width: 767px) {
    [class*='col-']{width: 100%;}
    .main_wrap{
      padding: 0;
    }
    #sec_01{
      height: auto;
      padding-bottom: 120px;
      .content_box{
          margin-top: 67px;
          .header_main{
              font-size: 50px
          }
      }
      .pattern_box{
          right: 0;
      }
      .slider_01{
          right: 0px;
          left: 0px;
          top: 120px;
          transform: translateY(0%);
          bottom: initial;
          overflow: hidden;
          max-height: 400px;
          &:before{
            content: "";
            position: absolute;
            width: 200%;
            height: 200%;
            z-index: 10;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: rgba(0,0,0,.6)
          }
      }
      .sec_01-slider_controll {
          display: none;
      }
      .btn_block{
          margin-bottom: 0;
      }
    }
}


@media (max-width: 540px) {
    #sec_01{
        padding-bottom: 80px;
        .content_box{
            padding-top: 60px;
        }
        .btn_block{
          margin-bottom: 0;
          margin-top: 40px;
      }
      .slider_01{
        display: none;
      }
      .btn_wrap{
        vertical-align: top;
      }
      .btn_white, .btn{
          width: 180px;
          text-align: center;
          vertical-align: top;
      }
    }
}

@media (max-width: 540px) {
    .title{
        font-size: 16px;
        line-height: 21px;
        letter-spacing: 0;
    }
    .header{
        font-size: 30px;
        line-height: 36px;
        letter-spacing: .03em;
    }
    .header_main{
        font-size: 60px;
        line-height: 39px;
        letter-spacing: .015em;
    }
    #sec_01{
        .content_box{
            margin-top: 50px;
            .header_main{
                font-size: 37px;
                line-height: 42px;
            }
            .underheader{
                font-size: 14px;
            }
        }
        .btn{
            display: none;
        }
        .btn_white{
            width: 240px;
        }
        .btn_block{
            text-align: center;
        }
    }
}