@import "bourbon";
@import "vars.scss";

body {
	position: relative;
	font: 14px/24px $main_font;
	color: $main_text_color;
	background-color: #fff;
    letter-spacing: .01em;
}

body.unscroll{
	overflow: hidden;
}

.main_wrap{
    padding: 0 45px;
    position: relative;
    overflow: hidden;
}

.md-modal.md-show{
    opacity: 1;
  }
.md-modal{
    opacity: 0;
  }

.text--header{
    font-family: $main_title_font;
}
.text--title{
    font-family: $title_font;
}
.text--light{
    font-family: $light_font;
}
.text--italic{
    font-family: $italic_font;
}
.text--yellow{
    color: #f4e821;
}


.title{
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: 0;
}
.header{
    font-size: 38px;
    line-height: 44px;
    letter-spacing: .03em;
}
.header_main{
    font-size: 76px;
    line-height: 59px;
    text-transform: uppercase;
    letter-spacing: .015em;
}



/* SCROLL BAR STYLES*/
::-webkit-scrollbar {
    width: 10px;
}
 /* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 20px rgba(0,0,0,  0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: $main_color;
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: $main_color;
}

/* BUTTON scrollUP SYLES*/

#scrollup {
    position: fixed;
    right: 20px;
    bottom: 30px;
    width: 10px;
    height: 15px;
    // transform: rotate(180deg);
    display: none;
    opacity: 1;
    cursor: pointer;
    z-index: 101;
    font-size: 40px;
    text-shadow: -2px 2px 5px rgba(0,0,0, 0.3);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    svg{
      fill: #848484;
      transition: all 0.5s;
    }
}

#scrollup:hover{
  svg{fill: $main_color;}
}

.hidden{
    height: 0;
    width: 0;
}
.bar-long {
	height: 5px;
	width: 0;
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	background: $main_color;
}

.btn{
    width: 280px;
    height: 60px;
    border: 3px solid #f4e821;
	background-color: transparent;

	color: $main_color;
	font: 12px $btn_font;
	text-transform: uppercase;
    padding-top: 3px;
    letter-spacing: .2em;
    &:hover{
        background: $main_color;
        // border: 3px solid #000;
        color: #000;
    }
}

.btn_white{
    width: 280px;
    height: 60px;
    // border: 3px solid #ffffff;
    background-color: #ffffff;

    color: #000;
    font: 12px $btn_font;
    text-transform: uppercase;
    padding-top: 3px;
    letter-spacing: .2em;
    &:hover{
        background: $main_color;
        color: #000;
    }
}


.viber{
    opacity: .5;
    transition: all .4s;
    display: inline-block;
    margin: 0 16px 0 35px;
    &:hover{
        opacity: 1;
        transform: scale(1.2);
        rect {
            transition: all .4s;
            fill: #7b519d;
        }
    }
}

.telegram{
    opacity: .5;
    transition: all .4s;
    display: inline-block;
    &:hover{
        opacity: 1;
        transform: scale(1.2);
        fill: #35A6DE;
    }
}

#left_col{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50px;
    background: #fff;
    z-index: 100;

    #menu_trigger{
        position: absolute;
        top: 50%;
        margin-top: -30px;
        left: -19px;
        cursor: pointer;
        transform: rotate(-90deg);
        font-family: $btn_font;
        font-size: 12px;
        letter-spacing: .25em;
        padding: 0 20px;
        text-transform: uppercase;
        color: #7f7f7f;
        transition: text-shadow .3s;
        &:hover{
            text-shadow: 0 0 8px rgba(0,0,0,.4)
        }
    }

    .social{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50px;
        text-align: center;
        font-size: 16px;
        padding-bottom: 40px;
        li{
            display: block;
            line-height: 28px;
        }
        a{
            color: #7f7f7f;
            &:hover{color: #000}
        }
    }
}

#right_col{
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50px;
    background: #fff;
    z-index: 100;
    .portfolio_trigger,
    .call_back_trigger{
        position: absolute;
        cursor: pointer;
        transform: rotate(90deg);
        font-family: $btn_font;
        font-size: 12px;
        letter-spacing: .25em;
        padding: 0 20px;
        text-transform: uppercase;
        color: #7f7f7f;
        transition: text-shadow .3s;
        &:hover{
            text-shadow: 0 0 8px rgba(0,0,0,.4)
        }
    }
    .portfolio_trigger{
        bottom: 98px;
        right: -51px;
        width: 160px;
    }
    .call_back_trigger{
        top: 140px;
        width: 235px;
        right: -92px;
    }
}


#menu_modal.open{
    width: 100%;
}

#menu_modal{
    position: fixed;
    overflow: hidden;
    width: 0;
    z-index: 101;
    background: #fff;
    top: 0;
    height: 100vh;
    left: 49px;
    transition: width 1s;
    #close_menu_modal{
        opacity: 0;
        z-index: 10;
        position: absolute;
        top: 100px;
        margin-top: -30px;
        right: -10px;
        cursor: pointer;
        transform: rotate(90deg);
        font-family: $btn_font;
        font-size: 12px;
        letter-spacing: .25em;
        padding: 0 20px;
        text-transform: uppercase;
        color: #000;
        transition: all .3s;
        &:hover{
            text-shadow: 0 0 8px rgba(0,0,0,.4)
        }
    }

    .portfolio_trigger{
        opacity: 0;
        transition: opacity .3s;
        bottom: 78px;
        right: -7px;
        width: 160px;
        position: absolute;
        cursor: pointer;
        transform: rotate(90deg);
        font-family: $btn_font;
        font-size: 12px;
        letter-spacing: .25em;
        padding: 0 20px;
        text-transform: uppercase;
        color: #000;
        transition: text-shadow .3s;
        &:hover{
            text-shadow: 0 0 8px rgba(0,0,0,.4)
        }
    }

    .top{
        padding-top: 10px;
        .phone_box{
            margin-top: 8px;
            float: right;
        }
        .tel{
            color: #000;
            position: relative;
            letter-spacing: .025em;
            &:before{
                content: "";
                position: absolute;
                width: 0;
                height: 1px;
                bottom: -4px;;
                left: 0;
                background: #000;
                transition: width .5s;
            }
            &:hover:before{
                width: 100%;
            }
        }
    }

    .menu_list{
        margin-top: 160px;
        font-family: $btn_font;
        font-size: 12px;
        padding-left: 70px;
        transition: all 3.3s;
        opacity: 0;
        margin-bottom: 100px;
        transition: opacity .3s;
        li{
            position: relative;
            a {
                font-size: 14px;
                line-height: 18px;
                color: #000;
                transition: all 0.2s ease;
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                -ms-transition: all 0.3s ease;
                &:before{
                    position: absolute;
                    content: '';
                    width: 50px;
                    height: 3px;
                    left: -70px;
                    top: 50%;
                    margin-top: -1.5px;
                    background: $main_color;
                    transition: opacity .3;
                    opacity: 0;
                }
                &:hover:before{
                    opacity: 1;
                }
            }
            a:hover {
                font-size: 38px;
                line-height: 44px;
            }
        }
        li+li{margin-top: 10px;}
    }

    .social{
        a{color: #7f7f7f;}
        a:hover{color: #000;}
        font-size: 26px;
        li{
            display: inline-block;
        }
        li+li{margin-left: 10px;}
    }
    .tel{
        color: #000;
        position: relative;
        letter-spacing: .025em;
        margin-bottom: 20px;
        display: inline-block;
        &:before{
            content: "";
            position: absolute;
            width: 0;
            height: 1px;
            bottom: -4px;;
            left: 0;
            background: #000;
            transition: width .5s;
        }
        &:hover:before{
            width: 100%;
        }
    }

    #close_menu_modal.visible,
    .menu_list.visible,
    .portfolio_trigger.visible{
        opacity: 1;
    }
}

#portfolio_modal.open{
    width: 100%;
    overflow-y: scroll;
}
#portfolio_modal{
    position: fixed;
    overflow: hidden;
    width: 0%;
    z-index: 101;
    background: #fff;
    top: 0;
    height: 100vh;
    right: 0px;
    transition: width 1s;
    #close_portfolio_modal{
        transition: opacity .4s;
        opacity: 0;
        opacity: 1;
        z-index: 10;
        position: absolute;
        top: 140px;
        z-index: 30;
        margin-top: -30px;
        right: -55px;
        cursor: pointer;
        transform: rotate(90deg);
        font-family: $btn_font;
        font-size: 12px;
        letter-spacing: .25em;
        padding: 0 20px;
        text-transform: uppercase;
        color: #000;
        transition: all .3s;
        &:hover{
            text-shadow: 0 0 8px rgba(0,0,0,.4)
        }
    }
    .top{
        opacity: 0;
        transition: opacity .4s;
        padding-top: 20px;
        margin-bottom: 55px;
    }
    .portfolio_slider{
        transition: opacity .4s;
        opacity: 0;
        padding-bottom: 50px;
        .slide{padding-bottom: 50px;}
    }
    .content_block{
        padding-top: 40px;
        .header{
            vertical-align: top;
            display: inline-block;
            width: 40%;
            max-width: 380px;
            padding-right: 40px;
        }
        .description_text{
            vertical-align: top;
            display: inline-block;
            width: 55%;
            max-width: 360px;
            padding-right: 40px;
        }
        .items_row{
            margin-top: 100px;
            .item{
                display: inline-block;
                vertical-align: top;
                width: 100%;
                max-width: 32%;
                padding-right: 40px;
                .title{
                  margin-bottom: 48px;
                  position: relative;
                  display: inline-block;
                  &:before{
                    content: "";
                    position: absolute;
                    width: 265px;
                    height: 3px;
                    bottom: -17px;
                    left: 0;
                    background-color: #000;
                    transition: width 2.5s;
                  }
                }
            }
        }
    }
    .mobile{display:none}
    .photos{
        max-height: 481px;
        overflow-y: scroll;
        overflow-x: hidden;
        li{
            position: relative;
            a{
                position: relative;
                display:block;
                &:before{
                    position: absolute;
                    z-index: 5;
                    content: '';
                    width: 100%;
                    height: 100%;
                    left: 0px;
                    top: 0px;
                    background: rgba(0,0,0,.3);
                    transition: all .4s;
                }
                &:hover:before{
                    background: rgba(0,0,0,.7);
                }
            }
        }
        li+li{margin-top: 4px;}
    }

    #close_menu_modal.visible,
    .menu_list.visible,
    .portfolio_trigger.visible{
        opacity: 1;
    }

    .slick-next{
        top: 170px;
        left: 100px;
        // top: initial;
    }
    .slick-prev{
        top: 170px;
        left: 0px;
        // top: initial;
    }
    .slide_number{
        position: absolute;
        top: 160px;
        left: 0px;
        width: 116px;
        text-align: center;
        color: #f4e821;
        font-family: $italic_font;
        font-size: 19px;
        letter-spacing: .025em;
        font-weight: 100;
    }
    .visible{
        opacity: 1 !important;
    }
}


#sec_01{
    position: relative;
    padding: 9px 0 200px;
    color: #fff;
    height: 100vh;
    overflow: hidden;
    &:before{
        position: absolute;
        content: '';
        width: 100%;
        height: 40px;
        left: 0px;
        bottom: 0px;
        background: #fff;
        z-index: 1;
    }
    .container{
        position: relative;
    }
    .phone_box{
        margin-top: 8px;
        float: right;
    }
    .company{display: inline-block; color: #000; margin-left: 40px; line-height: 34px; vertical-align: top;}
    .company.mobile{display: none;}
    .tel{
        color: #000;
        position: relative;
        letter-spacing: .025em;
        &:before{
            content: "";
            position: absolute;
            width: 0;
            height: 1px;
            bottom: -4px;;
            left: 0;
            background: #000;
            transition: width .5s;
        }
        &:hover:before{
            width: 100%;
        }
    }
    .top{
        padding-bottom: 7px;
    }
    .pattern_box{
        position: absolute;
        top: 50px;
        bottom: 0;
        left: 0;
        right: 80px;
        background-repeat: repeat;
        background-position: top center;
        background-image: url(img/pattern.png)
    }
    .content_box{
        position: relative;
        z-index: 10;
        padding-top: 110px;
        margin-top: 310px;
        &:before{
            content: "";
            position: absolute;
            width: 50px;
            height: 3px;
            top: 0;
            left: 0;
            background-color: $main_color;
        }
    }
    h1{
        margin-bottom: 53px;
    }
    .underheader{
        position: relative;
        font-family: $light_font;
        font-size: 18px;
        line-height: 20px;
        padding-left: 48px;
        letter-spacing: .02em;
        &:before{
            content: "";
            position: absolute;
            width: 34px;
            height: 2px;
            top: 50%;
            margin-top: -1px;
            left: 0;
            background: #fff;
        }
    }
    .underheader+.underheader{margin-top: 23px;}
    .btn_block{
        margin-top: 51px;
        margin-bottom: 140px;
    }
    .btn_wrap{
        display: inline-block;
    }
    .btn_wrap+.btn_wrap{margin-left: 25px;}
    .slider_01{
        position: absolute;
        z-index: 5;
        right: 0px;
        top: 50%;
        transform: translateY(-65%);
        left: 48%;
        bottom: 60px;
        img{
            width: 100%;
        }
        .first_image{
            .anim_cont{
                opacity: 1;
            }
        }
        // &:before{
        //     position: absolute;
        //     content: '';
        //     width: 100%;
        //     height: 100%;
        //     left: 0px;
        //     top: 0px;
        //     background: url(img/sec_01-slide-2.png) top center no-repeat;
        //     background-size: contain;
        //     z-index: 10;
        // }
    }
    .slider_01.slick-initialized{
        .anim_cont{
            opacity: 0;
        }
    }
}

#mobile_menu_trigger{
    display: none;
    position: fixed;
    background: #fff;
    width: 60px;
    height: 60px;
    right: 0;
    top: 42px;
    z-index: 100;
    transition: .5s;
    .svg {
      width: 60px;
      height: 60px;
      cursor: pointer;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    .path {
      fill: none;
      -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
      transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
      stroke-width: 30px;
      stroke-linecap: round;
      stroke: #222;
      stroke-dashoffset: 0px;
    }
    path#top,
    path#bottom {
      stroke-dasharray: 240px 950px;
    }
    path#middle {
      stroke-dasharray: 240px 240px;
    }
    .cross path#top,
    .cross path#bottom {
      stroke-dashoffset: -650px;
      stroke-dashoffset: -650px;
    }
    .cross path#middle {
      stroke-dashoffset: -115px;
      stroke-dasharray: 1px 220px;
    }
}

#mobile_menu_trigger.scrolled{
    transform: translateY(-42px)
}

.sec_01-slider_controll,
.sec_04-slider_controll,
.sec_06-slider_controll,
.sec_09-slider_controll,
.mobile_slider_02-slider_controll,
.mobile_slider_07-slider_controll{
    width: 100px;
    text-align: center;
    color: #f4e821;
    font-family: $italic_font;
    font-size: 19px;
    letter-spacing: .025em;
    font-weight: 100;
}

@media (max-width: 1900px){
    .main_wrap{
        padding: 0 35px;
    }
    #sec_01{
        .content_box{
            margin-top: 200px;
        }
    }
    #left_col{
        width: 35px;
        #menu_trigger{
            left: -25px;
            font-size: 10px;
        }
        .social{
            width: 35px;
        }
    }
    #menu_modal{
        left: 34px;
        #close_menu_modal{
            right: -20px;
            top: 135px;
        }
        .portfolio_trigger{
            right: -20px;
        }
    }

    #right_col{
        width: 35px;
        .portfolio_trigger{
            right: -63px;
            font-size: 10px;
        }
        .call_back_trigger{
            right: -99px;
            font-size: 10px;
        }
    }
    #scrollup{
        right: 12px;
    }
}

@media (max-width: 1900px) and (min-width: 1200px) {
    #sec_01{
        &:before{
            height: 30px;
        }
        .content_box{
            margin-top: 200px;
            padding-left: 30px;
            &:before{
                left: 30px;
            }
        }
        .btn_block{
            margin-bottom: 90px;
        }
        .slider_01{
            left: 43%;
            bottom: -50px;
        }
    }
}

@media (max-width: 1900px) and (min-height: 1100px) {
    #sec_01{
        min-height: auto;
    }
}


@media (max-width: 1400px) {
    #sec_01{
        .content_box{
            margin-top: 200px;
            padding-top: 80px;
            .header_main{
                font-size: 60px
            }
        }
    }
}

@media (max-width: 1200px) {
    #sec_01{
        .underheader{
            font-size: 16px;
        }
        .header_main{
            font-size: 44px;
            margin-bottom: 20px;
            line-height: 52px;
        }
        .btn_white, .btn{
            width: 220px;
            height: 50px;
            font-size: 10px;
        }
    }
}

@media (max-height: 1100px) and (min-height: 901px){
    #sec_01{
        .content_box{
            margin-top: 200px;
            padding-top: 80px;
            .header_main{
                font-size: 60px
            }
        }
        .slider_01{
            transform: translateY(-60%);
            bottom: -60px;
        }
    }
}

@media (max-height: 900px) and (min-height: 761px){
    #sec_01{
        .content_box{
            margin-top: 100px;
            padding-top: 80px;
            .header_main{
                font-size: 60px
            }
        }
    }
}


@media (max-height: 760px) and (min-height: 701px){
    #sec_01{
        .content_box{
            margin-top: 150px;
            padding-top: 60px;
            .header_main{
                font-size: 44px;
                margin-bottom: 20px;
                line-height: 52px;
            }
            .underheader{
                font-size: 14px;
            }
        }
        .btn_block{margin-bottom: 50px;}
        .slider_01 {
            left: 50%;
            bottom: 0;
        }
    }
    #menu_modal .menu_list{
        margin-top: 200px;
    }
}

@media (max-height: 700px){
    #menu_modal .menu_list{
        margin-top: 60px;
    }
    #sec_01{
        .content_box{
            margin-top: 60px;
            padding-top: 60px;
            .header_main{
                font-size: 44px;
                margin-bottom: 20px;
                line-height: 52px;
            }
        }
        .btn_block{margin-bottom: 50px;}
        .slider_01 {
            left: 50%;
            bottom: 0;
        }
    }
}

@media (min-width: 992px) and (max-width: 1200px){
    #portfolio_modal{
        .container{padding: 0 15px 50px;}
        .content_block{
            .header{
                font-size: 30px;
            }
            .items_row .item .title{
              display: block;
              &:before{
                width: 90%;
              }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991px){
    #mobile_menu_trigger{
        display: block;
    }
    #portfolio_modal{
        .container{padding: 0 15px 50px;}
        .top{
            margin-bottom: 70px;
        }
        .content_block{
            padding-top: 0;
            .header{
                font-size: 28px;
            }
            .items_row{
                margin-top: 40px;
                .item{
                    display: block;
                    width: 100%;
                    max-width: 100%;
                    .title{
                        margin-bottom: 30px;
                         display: inline-block;
                         &:before{
                           width: 120%;
                        }
                    }
               }
               .item+.item{margin-top: 40px;}
            }
        }

        .photos{
            margin-left: -45px;
        }

        .slick-prev, .slick-next{
            top: 100px;
        }
        .slide_number{top: 94px;}
    }
  .main_wrap{
    padding: 0;
  }
  #right_col, #left_col{
      display: none;
  }
  #menu_modal{
    left: 0;
    #close_menu_modal{
        right: -45px;
    }
    .portfolio_trigger{
        right: -40px;
    }
    .top{display:none;}
    .menu_list{
      padding-left: 120px;
      margin-top: 190px;
    }
  }
  #sec_01{
    height: auto;
    padding-bottom: 120px;
    &:before{
        display: none
    }
    .content_box{
        margin-top: 85px;
        .underheader{
            width: 43%;
            font-size: 15px;
        }
        .header_main{
            font-size: 50px
        }
    }
    .pattern_box{
        right: 0;
    }
    .slider_01{
        right: 40px;
        transform: translateY(-50%);
    }
    .sec_01-slider_controll {
        display: none;
    }
    .btn_block{
        margin-bottom: 0;
    }
  }
}

@media (max-width: 767px) {
    #portfolio_modal{
        .slide_number{display:none;}
        .container{
            padding: 0 15px 0px;
            min-width: 540px;
        }
        .top{
            margin-bottom: 40px;
        }
        .content_block{
            padding-top: 0;
            .description_text{
                width: 70%;
            }
            .header{
                display: block;
                margin-bottom: 15px;
            }
            .items_row{
                margin-top: 40px;
                .item{
                    display: block;
                    width: 100%;
                    max-width: 100%;
                    .title{
                        margin-bottom: 30px;
                         display: inline-block;
                         &:before{
                           width: 120%;
                        }
                    }
               }
               .item+.item{margin-top: 40px;}
            }
        }

        .photos{
            height: 92px;
            margin-top: 30px;
            margin-bottom: 30px;
            max-width: 320px;
            width: 100%;
            text-align: center;
            overflow: visible;
            margin-left: 30px;
            margin-right: 50px;
            li{
                // display: inline-block;
                margin-top: 0 !important;
                a:before{
                    display: none;
                }
            }
            .slick-prev{
                left: -30px;
                top: 50%;
                margin-top: -5px;
            }
            .slick-next{
                left: initial;
                 right: -30px;
                 top: 50%;
                 margin-top: -5px;
             }
        }
        .desctop{display:none;}
        .mobile{display:block;}
    }
    [class*='col-']{width: 100%;}
    .main_wrap{
      padding: 0;
    }
    #right_col, #left_col{
        display: none;
    }
    #mobile_menu_trigger{
        display: block;
    }
    #menu_modal{
      left: 0;
      #close_menu_modal{
          right: -55px;
      }
      .portfolio_trigger{
          right: -50px;
      }
      .top{display:none;}
      .menu_list{
        padding-left: 0;
        margin-top: 60px;
      }
    }
    #sec_01{
      height: auto;
      padding-bottom: 60px;
      &:before{
          display: none
      }
      .content_box{
        padding-top: 90px;
          margin-top: -3px;
          .header_main{
              font-size: 50px;
              margin-bottom: 40px;
          }
      }
      .pattern_box{
          right: 0;
      }
      .slider_01{
          right: 0px;
          left: 0px;
          top: 51px;
          transform: translateY(0%);
          bottom: initial;
          overflow: hidden;
          max-height: 400px;
          &:before{
            content: "";
            position: absolute;
            width: 200%;
            height: 200%;
            z-index: 10;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: rgba(0,0,0,.6)
          }
      }
      .sec_01-slider_controll {
          display: none;
      }
      .btn_block{
            margin-top: 160px;
          margin-bottom: 0;
          .btn_white{
            padding: 3px 10px 0;
          }
      }
    }
}


@media (max-width: 540px) {
    #mobile_menu_trigger.scrolled{
        transform: translateY(-0px)
    }
    #mobile_menu_trigger{top: 0;}
    #portfolio_modal{
        .slide_number{display:none;}
        .container{
            padding: 0 15px 0px;
            min-width: 300px;
        }
        .top{
            margin-bottom: 30px;
        }
        .content_block{
            .description_text{
                width: 100%;
            }
            .items_row{
               .item+.item{margin-top: 30px;}
            }
        }

        .photos{
            width: 320px;
            img{
                width: 152px;
            }
        }
    }
    .title{
        font-size: 16px;
        line-height: 21px;
        letter-spacing: 0;
    }
    .header{
        font-size: 30px;
        line-height: 36px;
        letter-spacing: .03em;
    }
    .header_main{
        font-size: 60px;
        line-height: 39px;
        letter-spacing: .015em;
    }
    #sec_01{
        padding-bottom: 80px;
        padding-top: 0;
        .top{
            display: none;
        }
        .company.mobile{
            display: block;
            line-height: 60px;
            margin-left: 0;
        }
        .pattern_box{
            top: 60px;
        }
        .content_box{
            margin-top: 0;
            padding-top: 0px;
            .header_main{
                font-size: 37px;
                line-height: 42px;
                margin: 0 -15px;
                padding: 80px 15px 60px;
                background-image: url(img/sec_01-mob.png);
                background-position: top -40px center;
                background-repeat: no-repeat;
                margin-bottom: 40px;
            }
            .underheader{
                font-size: 14px;
            }
            &:before{
                top: 60px;
                width: 30px;
            }
        }
        .btn_block{
            margin-bottom: 0;
            margin-top: 40px;
        }
        .slider_01{
            display: none;
        }
        .btn_wrap{
            vertical-align: top;
        }
        .btn_wrap+.btn_wrap{
            margin-top: 30px;
            margin-left: 0;
        }
        .btn_white, .btn{
            width: 100%;
            max-width: 100%;
            text-align: center;
            vertical-align: top;
        }
        .btn_white{
            width: 240px;
        }
        .btn_block{
            text-align: center;
        }
        .btn_wrap{
            display: block !important;
        }
    }
}



@media (max-width: 430px) {
    #portfolio_modal{
        .photos{
            max-width: 155px;
        }
    }
}



.anim_cont{
    opacity: 0;
}
.animation{
    .mask{
        width: 160% ;
        position: absolute;
        z-index: 3;
        left: 0;
        height: 0% ;
        background: #222;
        animation: animationFrames 1s;
        animation-iteration-count: 1 ;
        animation-fill-mode: forwards;
        transform-origin: 50% 50% ;
        -webkit-transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .anim_cont{
        opacity: 0 ;
        animation: animationCont 1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        -webkit-transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
}

.animation{
    // height: 100%;
    overflow: hidden;
    position: relative;
}
.animation_block{
    // height: 100%;
    overflow: hidden;
    position: relative;
}

.content_animation{opacity:1}

.fade-in-left {
    -webkit-animation: fade-in-left .7s cubic-bezier(0.860, 0.000, 0.070, 1.000) forwards;
    -moz-animation: fade-in-left .7s cubic-bezier(0.860, 0.000, 0.070, 1.000) forwards;
    animation: fade-in-left .7s cubic-bezier(0.860, 0.000, 0.070, 1.000) forwards;
}

.fade-in-right {
    -webkit-animation: fade-in-right .7s cubic-bezier(0.755, 0.050, 0.855, 0.060) forwards;
    -moz-animation: fade-in-right .7s cubic-bezier(0.755, 0.050, 0.855, 0.060) forwards;
    animation: fade-in-right .7s cubic-bezier(0.755, 0.050, 0.855, 0.060) forwards;
}



.fade-in-bottom {
    -webkit-animation: fade-in-bottom .7s cubic-bezier(0.755, 0.050, 0.855, 0.060) forwards;
    -moz-animation: fade-in-bottom .7s cubic-bezier(0.755, 0.050, 0.855, 0.060) forwards;
    animation: fade-in-bottom .7s cubic-bezier(0.755, 0.050, 0.855, 0.060) forwards;
}

.fade-in-top {
    -webkit-animation: fade-in-top .7s cubic-bezier(0.755, 0.050, 0.855, 0.060) forwards;
    -moz-animation: fade-in-top .7s cubic-bezier(0.755, 0.050, 0.855, 0.060) forwards;
    animation: fade-in-top .7s cubic-bezier(0.755, 0.050, 0.855, 0.060) forwards;
}

.puff-in-hor {
    -webkit-animation: puff-in-hor 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    -moz-animation: puff-in-hor 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    animation: puff-in-hor 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}


@keyframes puff-in-hor{0%{-webkit-transform:scaleX(2);transform:scaleX(2);-webkit-filter:blur(2px);filter:blur(2px);opacity:0}100%{-webkit-transform:scaleX(1);transform:scaleX(1);-webkit-filter:blur(0);filter:blur(0);opacity:1}}

@keyframes fade-in-left{0%{-webkit-transform:translateX(-120px);transform:translateX(-120px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}

@keyframes fade-in-right{0%{-webkit-transform:translateX(120px);transform:translateX(120px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}

@keyframes fade-in-bottom{0%{-webkit-transform:translateY(100px);transform:translateY(100px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}

@keyframes fade-in-top{0%{-webkit-transform:translateY(-150px);transform:translateY(-150px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}



@keyframes animationFrames{
    0%{
        transform: translate(60%,0);
        height: 0%;
        opacity: 1 ;
    }
    40%{
        transform: translate(60%,0);
        height: 100%;
        opacity: 1;
    }
    99%{
        transform: translate(-100%,0);
        height: 100%;
        opacity: 1;
    }
    100%{
        transform: translate(-105%,0);
        height: 100%;
        opacity: 0;
    }
}

@keyframes animationCont{
    0%{
        transform: translate(20%,0);
        opacity: 0;
    }
    50%{
        transform: translate(20%,0);
        opacity: 0;
    }
    100%{
        transform: translate(0,0);
        opacity: 1;
    }
}

