body {
  position: relative;
  font: 14px/18px "GothamProRegular", sans-serif;
  color: #000;
  background-color: #fff;
  letter-spacing: .01em; }

body.unscroll {
  overflow: hidden; }

.main_wrap {
  padding: 0 45px;
  position: relative; }

.md-modal.md-show {
  opacity: 1; }

.md-modal {
  opacity: 0; }

.text--header {
  font-family: "GothamProBlack", sans-serif; }

.text--title {
  font-family: "GothamProMedium", sans-serif; }

.text--light {
  font-family: "GothamProLight", sans-serif; }

.text--italic {
  font-family: "AngleciaProDisplay-SemiBoldItal", sans-serif; }

.text--yellow {
  color: #f4e821; }

.title {
  font-size: 18px;
  line-height: 22px; }

.header {
  font-size: 38px;
  line-height: 44px;
  letter-spacing: .015em; }

.header_main {
  font-size: 76px;
  line-height: 59px;
  text-transform: uppercase;
  letter-spacing: .015em; }

/* SCROLL BAR STYLES*/
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3); }

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: #f4e821;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

::-webkit-scrollbar-thumb:window-inactive {
  background: #f4e821; }

/* BUTTON scrollUP SYLES*/
#scrollup {
  position: fixed;
  right: 20px;
  bottom: 30px;
  width: 30px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  display: none;
  opacity: 1;
  cursor: pointer;
  z-index: 10;
  font-size: 40px;
  text-shadow: -2px 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  #scrollup svg {
    fill: #848484;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }

#scrollup:hover svg {
  fill: #f4e821; }

.hidden {
  height: 0;
  width: 0; }

.bar-long {
  height: 5px;
  width: 0;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  background: #f4e821; }

.btn {
  width: 280px;
  height: 60px;
  border: 3px solid #f4e821;
  background-color: transparent;
  color: #f4e821;
  font: 12px "GothamProBold", sans-serif;
  text-transform: uppercase;
  padding-top: 3px;
  letter-spacing: .2em; }
  .btn:hover {
    background: #f4e821;
    border: 3px solid #f4e821;
    color: #000; }

.btn_white {
  width: 280px;
  height: 60px;
  border: 3px solid #ffffff;
  background-color: #ffffff;
  color: #000;
  font: 12px "GothamProBold", sans-serif;
  text-transform: uppercase;
  padding-top: 3px;
  letter-spacing: .2em; }
  .btn_white:hover {
    background: #f4e821;
    border: 3px solid #f4e821;
    color: #000; }

.viber {
  opacity: .5;
  -webkit-transition: all .4s;
  transition: all .4s;
  display: inline-block;
  margin: 0 16px 0 35px; }
  .viber:hover {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }
    .viber:hover rect {
      -webkit-transition: all .4s;
      transition: all .4s;
      fill: #7b519d; }

.telegram {
  opacity: .5;
  -webkit-transition: all .4s;
  transition: all .4s;
  display: inline-block; }
  .telegram:hover {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    fill: #35A6DE; }

#sec_01 {
  position: relative;
  padding: 9px 0 125px;
  color: #fff; }
  #sec_01 .phone_box {
    margin-top: 8px;
    float: right; }
  #sec_01 .tel {
    color: #000;
    position: relative;
    letter-spacing: .025em; }
    #sec_01 .tel:before {
      content: "";
      position: absolute;
      width: 0;
      height: 1px;
      bottom: -4px;
      left: 0;
      background: #000;
      -webkit-transition: width .5s;
      transition: width .5s; }
    #sec_01 .tel:hover:before {
      width: 100%; }
  #sec_01 .top {
    padding-bottom: 7px; }
  #sec_01 .pattern_box {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 80px;
    background-repeat: repeat;
    background-position: top center;
    background-image: url(../img/pattern.png); }
  #sec_01 .content_box {
    position: relative;
    z-index: 10;
    margin-top: 310px; }
  #sec_01 h1 {
    margin-bottom: 53px; }
  #sec_01 .underheader {
    position: relative;
    font-family: "GothamProLight", sans-serif;
    font-size: 18px;
    line-height: 20px;
    padding-left: 48px;
    letter-spacing: .02em; }
    #sec_01 .underheader:before {
      content: "";
      position: absolute;
      width: 34px;
      height: 2px;
      top: 50%;
      margin-top: -1px;
      left: 0;
      background: #fff; }
  #sec_01 .underheader + .underheader {
    margin-top: 23px; }
  #sec_01 .btn_block {
    margin-top: 51px;
    margin-bottom: 150px; }
  #sec_01 .btn_wrap {
    display: inline-block; }
  #sec_01 .btn_wrap + .btn_wrap {
    margin-left: 25px; }
  #sec_01 .slider_01 {
    position: absolute;
    z-index: 5;
    right: 0px;
    top: 150px;
    left: 44%;
    bottom: 60px; }
    #sec_01 .slider_01 img {
      width: 100%; }

.sec_01-slider_controll {
  width: 100px;
  text-align: center;
  color: #f4e821;
  font-family: "AngleciaProDisplay-SemiBoldItal", sans-serif;
  font-size: 19px;
  letter-spacing: .025em;
  font-weight: 100; }
