body {
  position: relative;
  font: 14px/24px "GothamProRegular", sans-serif;
  color: #000;
  background-color: #fff;
  letter-spacing: .01em; }

body.unscroll {
  overflow: hidden; }

.main_wrap {
  padding: 0 45px;
  position: relative;
  overflow: hidden; }

.md-modal.md-show {
  opacity: 1; }

.md-modal {
  opacity: 0; }

.text--header {
  font-family: "GothamProBlack", sans-serif; }

.text--title {
  font-family: "GothamProMedium", sans-serif; }

.text--light {
  font-family: "GothamProLight", sans-serif; }

.text--italic {
  font-family: "AngleciaProDisplay-SemiBoldItal", sans-serif; }

.text--yellow {
  color: #f4e821; }

.title {
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  letter-spacing: 0; }

.header {
  font-size: 38px;
  line-height: 44px;
  letter-spacing: .03em; }

.header_main {
  font-size: 76px;
  line-height: 59px;
  text-transform: uppercase;
  letter-spacing: .015em; }

/* SCROLL BAR STYLES*/
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3); }

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: #f4e821; }

::-webkit-scrollbar-thumb:window-inactive {
  background: #f4e821; }

/* BUTTON scrollUP SYLES*/
#scrollup {
  position: fixed;
  right: 20px;
  bottom: 30px;
  width: 10px;
  height: 15px;
  display: none;
  opacity: 1;
  cursor: pointer;
  z-index: 101;
  font-size: 40px;
  text-shadow: -2px 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  #scrollup svg {
    fill: #848484;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }

#scrollup:hover svg {
  fill: #f4e821; }

.hidden {
  height: 0;
  width: 0; }

.bar-long {
  height: 5px;
  width: 0;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  background: #f4e821; }

.btn {
  width: 280px;
  height: 60px;
  border: 3px solid #f4e821;
  background-color: transparent;
  color: #f4e821;
  font: 12px "GothamProBold", sans-serif;
  text-transform: uppercase;
  padding-top: 3px;
  letter-spacing: .2em; }
  .btn:hover {
    background: #f4e821;
    color: #000; }

.btn_white {
  width: 280px;
  height: 60px;
  background-color: #ffffff;
  color: #000;
  font: 12px "GothamProBold", sans-serif;
  text-transform: uppercase;
  padding-top: 3px;
  letter-spacing: .2em; }
  .btn_white:hover {
    background: #f4e821;
    color: #000; }

.viber {
  opacity: .5;
  -webkit-transition: all .4s;
  transition: all .4s;
  display: inline-block;
  margin: 0 16px 0 35px; }
  .viber:hover {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }
    .viber:hover rect {
      -webkit-transition: all .4s;
      transition: all .4s;
      fill: #7b519d; }

.telegram {
  opacity: .5;
  -webkit-transition: all .4s;
  transition: all .4s;
  display: inline-block; }
  .telegram:hover {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    fill: #35A6DE; }

#left_col {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50px;
  background: #fff;
  z-index: 100; }
  #left_col #menu_trigger {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    left: -19px;
    cursor: pointer;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    font-family: "GothamProBold", sans-serif;
    font-size: 12px;
    letter-spacing: .25em;
    padding: 0 20px;
    text-transform: uppercase;
    color: #7f7f7f;
    -webkit-transition: text-shadow .3s;
    transition: text-shadow .3s; }
    #left_col #menu_trigger:hover {
      text-shadow: 0 0 8px rgba(0, 0, 0, 0.4); }
  #left_col .social {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    text-align: center;
    font-size: 16px;
    padding-bottom: 40px; }
    #left_col .social li {
      display: block;
      line-height: 28px; }
    #left_col .social a {
      color: #7f7f7f; }
      #left_col .social a:hover {
        color: #000; }

#right_col {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50px;
  background: #fff;
  z-index: 100; }
  #right_col .portfolio_trigger,
  #right_col .call_back_trigger {
    position: absolute;
    cursor: pointer;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    font-family: "GothamProBold", sans-serif;
    font-size: 12px;
    letter-spacing: .25em;
    padding: 0 20px;
    text-transform: uppercase;
    color: #7f7f7f;
    -webkit-transition: text-shadow .3s;
    transition: text-shadow .3s; }
    #right_col .portfolio_trigger:hover,
    #right_col .call_back_trigger:hover {
      text-shadow: 0 0 8px rgba(0, 0, 0, 0.4); }
  #right_col .portfolio_trigger {
    bottom: 98px;
    right: -51px;
    width: 160px; }
  #right_col .call_back_trigger {
    top: 140px;
    width: 235px;
    right: -92px; }

#menu_modal.open {
  width: 100%; }

#menu_modal {
  position: fixed;
  overflow: hidden;
  width: 0;
  z-index: 101;
  background: #fff;
  top: 0;
  height: 100vh;
  left: 49px;
  -webkit-transition: width 1s;
  transition: width 1s; }
  #menu_modal #close_menu_modal {
    opacity: 0;
    z-index: 10;
    position: absolute;
    top: 100px;
    margin-top: -30px;
    right: -10px;
    cursor: pointer;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    font-family: "GothamProBold", sans-serif;
    font-size: 12px;
    letter-spacing: .25em;
    padding: 0 20px;
    text-transform: uppercase;
    color: #000;
    -webkit-transition: all .3s;
    transition: all .3s; }
    #menu_modal #close_menu_modal:hover {
      text-shadow: 0 0 8px rgba(0, 0, 0, 0.4); }
  #menu_modal .portfolio_trigger {
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    bottom: 78px;
    right: -7px;
    width: 160px;
    position: absolute;
    cursor: pointer;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    font-family: "GothamProBold", sans-serif;
    font-size: 12px;
    letter-spacing: .25em;
    padding: 0 20px;
    text-transform: uppercase;
    color: #000;
    -webkit-transition: text-shadow .3s;
    transition: text-shadow .3s; }
    #menu_modal .portfolio_trigger:hover {
      text-shadow: 0 0 8px rgba(0, 0, 0, 0.4); }
  #menu_modal .top {
    padding-top: 10px; }
    #menu_modal .top .phone_box {
      margin-top: 8px;
      float: right; }
    #menu_modal .top .tel {
      color: #000;
      position: relative;
      letter-spacing: .025em; }
      #menu_modal .top .tel:before {
        content: "";
        position: absolute;
        width: 0;
        height: 1px;
        bottom: -4px;
        left: 0;
        background: #000;
        -webkit-transition: width .5s;
        transition: width .5s; }
      #menu_modal .top .tel:hover:before {
        width: 100%; }
  #menu_modal .menu_list {
    margin-top: 160px;
    font-family: "GothamProBold", sans-serif;
    font-size: 12px;
    padding-left: 70px;
    -webkit-transition: all 3.3s;
    transition: all 3.3s;
    opacity: 0;
    margin-bottom: 100px;
    -webkit-transition: opacity .3s;
    transition: opacity .3s; }
    #menu_modal .menu_list li {
      position: relative; }
      #menu_modal .menu_list li a {
        font-size: 14px;
        line-height: 18px;
        color: #000;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease; }
        #menu_modal .menu_list li a:before {
          position: absolute;
          content: '';
          width: 50px;
          height: 3px;
          left: -70px;
          top: 50%;
          margin-top: -1.5px;
          background: #f4e821;
          -webkit-transition: opacity .3;
          transition: opacity .3;
          opacity: 0; }
        #menu_modal .menu_list li a:hover:before {
          opacity: 1; }
      #menu_modal .menu_list li a:hover {
        font-size: 38px;
        line-height: 44px; }
    #menu_modal .menu_list li + li {
      margin-top: 10px; }
  #menu_modal .social {
    font-size: 26px; }
    #menu_modal .social a {
      color: #7f7f7f; }
    #menu_modal .social a:hover {
      color: #000; }
    #menu_modal .social li {
      display: inline-block; }
    #menu_modal .social li + li {
      margin-left: 10px; }
  #menu_modal .tel {
    color: #000;
    position: relative;
    letter-spacing: .025em;
    margin-bottom: 20px;
    display: inline-block; }
    #menu_modal .tel:before {
      content: "";
      position: absolute;
      width: 0;
      height: 1px;
      bottom: -4px;
      left: 0;
      background: #000;
      -webkit-transition: width .5s;
      transition: width .5s; }
    #menu_modal .tel:hover:before {
      width: 100%; }
  #menu_modal #close_menu_modal.visible,
  #menu_modal .menu_list.visible,
  #menu_modal .portfolio_trigger.visible {
    opacity: 1; }

#portfolio_modal.open {
  width: 100%;
  overflow-y: scroll; }

#portfolio_modal {
  position: fixed;
  overflow: hidden;
  width: 0%;
  z-index: 101;
  background: #fff;
  top: 0;
  height: 100vh;
  right: 0px;
  -webkit-transition: width 1s;
  transition: width 1s; }
  #portfolio_modal #close_portfolio_modal {
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
    opacity: 0;
    opacity: 1;
    z-index: 10;
    position: absolute;
    top: 140px;
    z-index: 30;
    margin-top: -30px;
    right: -55px;
    cursor: pointer;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    font-family: "GothamProBold", sans-serif;
    font-size: 12px;
    letter-spacing: .25em;
    padding: 0 20px;
    text-transform: uppercase;
    color: #000;
    -webkit-transition: all .3s;
    transition: all .3s; }
    #portfolio_modal #close_portfolio_modal:hover {
      text-shadow: 0 0 8px rgba(0, 0, 0, 0.4); }
  #portfolio_modal .top {
    opacity: 0;
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
    padding-top: 20px;
    margin-bottom: 55px; }
  #portfolio_modal .portfolio_slider {
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
    opacity: 0;
    padding-bottom: 50px; }
    #portfolio_modal .portfolio_slider .slide {
      padding-bottom: 50px; }
  #portfolio_modal .content_block {
    padding-top: 40px; }
    #portfolio_modal .content_block .header {
      vertical-align: top;
      display: inline-block;
      width: 40%;
      max-width: 380px;
      padding-right: 40px; }
    #portfolio_modal .content_block .description_text {
      vertical-align: top;
      display: inline-block;
      width: 55%;
      max-width: 360px;
      padding-right: 40px; }
    #portfolio_modal .content_block .btn {
      margin-top: 40px;
      margin-left: 385px; }
    #portfolio_modal .content_block .items_row {
      margin-top: 100px; }
      #portfolio_modal .content_block .items_row .item {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        max-width: 32%;
        padding-right: 40px; }
        #portfolio_modal .content_block .items_row .item .title {
          margin-bottom: 48px;
          position: relative;
          display: inline-block; }
          #portfolio_modal .content_block .items_row .item .title:before {
            content: "";
            position: absolute;
            width: 265px;
            height: 3px;
            bottom: -17px;
            left: 0;
            background-color: #000;
            -webkit-transition: width 2.5s;
            transition: width 2.5s; }
  #portfolio_modal .mobile {
    display: none; }
  #portfolio_modal .photos {
    max-height: 481px;
    overflow-y: scroll;
    overflow-x: hidden; }
    #portfolio_modal .photos li {
      position: relative; }
      #portfolio_modal .photos li a {
        position: relative;
        display: block; }
        #portfolio_modal .photos li a:before {
          position: absolute;
          z-index: 5;
          content: '';
          width: 100%;
          height: 100%;
          left: 0px;
          top: 0px;
          background: rgba(0, 0, 0, 0.3);
          -webkit-transition: all .4s;
          transition: all .4s; }
        #portfolio_modal .photos li a:hover:before {
          background: rgba(0, 0, 0, 0.7); }
    #portfolio_modal .photos li + li {
      margin-top: 4px; }
  #portfolio_modal #close_menu_modal.visible,
  #portfolio_modal .menu_list.visible,
  #portfolio_modal .portfolio_trigger.visible {
    opacity: 1; }
  #portfolio_modal .slick-next {
    top: 170px;
    left: 100px; }
  #portfolio_modal .slick-prev {
    top: 170px;
    left: 0px; }
  #portfolio_modal .slide_number {
    position: absolute;
    top: 163px;
    left: 0px;
    width: 116px;
    text-align: center;
    color: #f4e821;
    font-family: "AngleciaProDisplay-SemiBoldItal", sans-serif;
    font-size: 19px;
    letter-spacing: .025em;
    font-weight: 100; }
  #portfolio_modal .visible {
    opacity: 1 !important; }

#sec_01 {
  position: relative;
  padding: 9px 0 200px;
  color: #fff;
  height: 100vh;
  overflow: hidden; }
  #sec_01:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 40px;
    left: 0px;
    bottom: 0px;
    background: #fff;
    z-index: 1; }
  #sec_01 .container {
    position: relative; }
  #sec_01 .phone_box {
    margin-top: 8px;
    float: right;
    display: inline-block; }
  #sec_01 .company {
    display: inline-block;
    color: #000;
    margin-left: 40px;
    line-height: 34px;
    vertical-align: top; }
  #sec_01 .adress {
    display: inline-block;
    color: #000;
    margin-left: 40px;
    line-height: 38px;
    vertical-align: top; }
  #sec_01 .adress.mobile {
    display: none; }
  #sec_01 .company.mobile {
    display: none; }
  #sec_01 .tel {
    color: #000;
    position: relative;
    letter-spacing: .025em; }
    #sec_01 .tel:before {
      content: "";
      position: absolute;
      width: 0;
      height: 1px;
      bottom: -4px;
      left: 0;
      background: #000;
      -webkit-transition: width .5s;
      transition: width .5s; }
    #sec_01 .tel:hover:before {
      width: 100%; }
  #sec_01 .top {
    padding-bottom: 7px; }
  #sec_01 .pattern_box {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 80px;
    background-repeat: repeat;
    background-position: top center;
    background-image: url(../img/pattern.png); }
  #sec_01 .content_box {
    position: relative;
    z-index: 10;
    padding-top: 110px;
    margin-top: 310px; }
    #sec_01 .content_box:before {
      content: "";
      position: absolute;
      width: 50px;
      height: 3px;
      top: 0;
      left: 0;
      background-color: #f4e821; }
  #sec_01 h1 {
    margin-bottom: 53px; }
  #sec_01 .underheader {
    position: relative;
    font-family: "GothamProLight", sans-serif;
    font-size: 18px;
    line-height: 20px;
    padding-left: 48px;
    letter-spacing: .02em; }
    #sec_01 .underheader:before {
      content: "";
      position: absolute;
      width: 34px;
      height: 2px;
      top: 50%;
      margin-top: -1px;
      left: 0;
      background: #fff; }
  #sec_01 .underheader + .underheader {
    margin-top: 23px; }
  #sec_01 .btn_block {
    margin-top: 51px;
    margin-bottom: 140px; }
  #sec_01 .btn_wrap {
    display: inline-block; }
  #sec_01 .btn_wrap + .btn_wrap {
    margin-left: 25px; }
  #sec_01 .slider_01 {
    position: absolute;
    z-index: 5;
    right: 0px;
    top: 50%;
    -webkit-transform: translateY(-65%);
    -ms-transform: translateY(-65%);
    transform: translateY(-65%);
    left: 48%;
    bottom: 60px; }
    #sec_01 .slider_01 img {
      width: 100%; }
    #sec_01 .slider_01 .first_image .anim_cont {
      opacity: 1; }
  #sec_01 .slider_01.slick-initialized .anim_cont {
    opacity: 0; }

#mobile_menu_trigger {
  display: none;
  position: fixed;
  background: #fff;
  width: 60px;
  height: 60px;
  right: 0;
  top: 42px;
  z-index: 100;
  -webkit-transition: .5s;
  transition: .5s; }
  #mobile_menu_trigger .svg {
    width: 60px;
    height: 60px;
    cursor: pointer;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  #mobile_menu_trigger .path {
    fill: none;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
    transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
    stroke-width: 30px;
    stroke-linecap: round;
    stroke: #222;
    stroke-dashoffset: 0px; }
  #mobile_menu_trigger path#top,
  #mobile_menu_trigger path#bottom {
    stroke-dasharray: 240px 950px; }
  #mobile_menu_trigger path#middle {
    stroke-dasharray: 240px 240px; }
  #mobile_menu_trigger .cross path#top,
  #mobile_menu_trigger .cross path#bottom {
    stroke-dashoffset: -650px;
    stroke-dashoffset: -650px; }
  #mobile_menu_trigger .cross path#middle {
    stroke-dashoffset: -115px;
    stroke-dasharray: 1px 220px; }

#mobile_menu_trigger.scrolled {
  -webkit-transform: translateY(-42px);
  -ms-transform: translateY(-42px);
  transform: translateY(-42px); }

.sec_01-slider_controll,
.sec_04-slider_controll,
.sec_06-slider_controll,
.sec_09-slider_controll,
.mobile_slider_02-slider_controll,
.mobile_slider_07-slider_controll {
  width: 100px;
  text-align: center;
  color: #f4e821;
  font-family: "AngleciaProDisplay-SemiBoldItal", sans-serif;
  font-size: 19px;
  letter-spacing: .025em;
  font-weight: 100; }

@media (max-width: 1900px) {
  .main_wrap {
    padding: 0 35px; }
  #sec_01 .content_box {
    margin-top: 200px; }
  #left_col {
    width: 35px; }
    #left_col #menu_trigger {
      left: -25px;
      font-size: 10px; }
    #left_col .social {
      width: 35px; }
  #menu_modal {
    left: 34px; }
    #menu_modal #close_menu_modal {
      right: -20px;
      top: 135px; }
    #menu_modal .portfolio_trigger {
      right: -20px; }
  #right_col {
    width: 35px; }
    #right_col .portfolio_trigger {
      right: -63px;
      font-size: 10px; }
    #right_col .call_back_trigger {
      right: -99px;
      font-size: 10px; }
  #scrollup {
    right: 12px; } }

@media (max-width: 1900px) and (min-width: 1200px) {
  #sec_01:before {
    height: 30px; }
  #sec_01 .content_box {
    margin-top: 200px;
    padding-left: 30px; }
    #sec_01 .content_box:before {
      left: 30px; }
  #sec_01 .btn_block {
    margin-bottom: 90px; }
  #sec_01 .slider_01 {
    left: 43%;
    bottom: -50px; } }

@media (max-width: 1900px) and (min-height: 1100px) {
  #sec_01 {
    min-height: auto; } }

@media (max-width: 1400px) {
  #sec_01 .content_box {
    margin-top: 200px;
    padding-top: 80px; }
    #sec_01 .content_box .header_main {
      font-size: 60px; } }

@media (max-width: 1200px) {
  #sec_01 .underheader {
    font-size: 16px; }
  #sec_01 .header_main {
    font-size: 44px;
    margin-bottom: 20px;
    line-height: 52px; }
  #sec_01 .btn_white, #sec_01 .btn {
    width: 220px;
    height: 50px;
    font-size: 10px; } }

@media (max-height: 1100px) and (min-height: 901px) {
  #sec_01 .content_box {
    margin-top: 200px;
    padding-top: 80px; }
    #sec_01 .content_box .header_main {
      font-size: 60px; }
  #sec_01 .slider_01 {
    -webkit-transform: translateY(-60%);
    -ms-transform: translateY(-60%);
    transform: translateY(-60%);
    bottom: -60px; } }

@media (max-height: 900px) and (min-height: 761px) {
  #sec_01 .content_box {
    margin-top: 100px;
    padding-top: 80px; }
    #sec_01 .content_box .header_main {
      font-size: 60px; } }

@media (max-height: 760px) and (min-height: 701px) {
  #sec_01 .content_box {
    margin-top: 150px;
    padding-top: 60px; }
    #sec_01 .content_box .header_main {
      font-size: 44px;
      margin-bottom: 20px;
      line-height: 52px; }
    #sec_01 .content_box .underheader {
      font-size: 14px; }
  #sec_01 .btn_block {
    margin-bottom: 50px; }
  #sec_01 .slider_01 {
    left: 50%;
    bottom: 0; }
  #menu_modal .menu_list {
    margin-top: 200px; } }

@media (max-height: 700px) {
  #menu_modal .menu_list {
    margin-top: 60px; }
  #sec_01 .content_box {
    margin-top: 60px;
    padding-top: 60px; }
    #sec_01 .content_box .header_main {
      font-size: 44px;
      margin-bottom: 20px;
      line-height: 52px; }
  #sec_01 .btn_block {
    margin-bottom: 50px; }
  #sec_01 .slider_01 {
    left: 50%;
    bottom: 0; } }

@media (min-width: 992px) and (max-width: 1200px) {
  #portfolio_modal .container {
    padding: 0 15px 50px; }
  #portfolio_modal .content_block .header {
    font-size: 30px; }
  #portfolio_modal .content_block .items_row .item .title {
    display: block; }
    #portfolio_modal .content_block .items_row .item .title:before {
      width: 90%; }
  #portfolio_modal .content_block .btn {
    margin-left: 320px; } }

@media (min-width: 768px) and (max-width: 991px) {
  #mobile_menu_trigger {
    display: block; }
  #portfolio_modal .container {
    padding: 0 15px 50px; }
  #portfolio_modal .top {
    margin-bottom: 70px; }
  #portfolio_modal .content_block {
    padding-top: 0; }
    #portfolio_modal .content_block .header {
      font-size: 28px;
      line-height: 34px; }
    #portfolio_modal .content_block .btn {
      margin-left: 240px; }
    #portfolio_modal .content_block .items_row {
      margin-top: 40px; }
      #portfolio_modal .content_block .items_row .item {
        display: block;
        width: 100%;
        max-width: 100%; }
        #portfolio_modal .content_block .items_row .item .title {
          margin-bottom: 30px;
          display: inline-block; }
          #portfolio_modal .content_block .items_row .item .title:before {
            width: 120%; }
      #portfolio_modal .content_block .items_row .item + .item {
        margin-top: 40px; }
  #portfolio_modal .photos {
    margin-left: -45px; }
  #portfolio_modal .slick-prev, #portfolio_modal .slick-next {
    top: 100px; }
  #portfolio_modal .slide_number {
    top: 94px; }
  .main_wrap {
    padding: 0; }
  #right_col, #left_col {
    display: none; }
  #menu_modal {
    left: 0; }
    #menu_modal #close_menu_modal {
      right: -45px; }
    #menu_modal .portfolio_trigger {
      right: -40px; }
    #menu_modal .top {
      display: none; }
    #menu_modal .menu_list {
      padding-left: 120px;
      margin-top: 190px; }
  #sec_01 {
    height: auto;
    padding-bottom: 120px; }
    #sec_01:before {
      display: none; }
    #sec_01 .phone_box {
      display: none; }
    #sec_01 .content_box {
      margin-top: 85px; }
      #sec_01 .content_box .underheader {
        width: 43%;
        font-size: 15px; }
      #sec_01 .content_box .header_main {
        font-size: 50px; }
    #sec_01 .pattern_box {
      right: 0; }
    #sec_01 .slider_01 {
      right: 40px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
    #sec_01 .sec_01-slider_controll {
      display: none; }
    #sec_01 .btn_block {
      margin-bottom: 0; } }

@media (max-width: 767px) {
  #portfolio_modal .slide_number {
    display: none; }
  #portfolio_modal .container {
    padding: 0 15px 0px;
    min-width: 540px; }
  #portfolio_modal .top {
    margin-bottom: 40px; }
  #portfolio_modal .content_block {
    padding-top: 0; }
    #portfolio_modal .content_block .description_text {
      width: 70%; }
    #portfolio_modal .content_block .btn {
      margin-left: 0; }
    #portfolio_modal .content_block .header {
      display: block;
      margin-bottom: 15px; }
    #portfolio_modal .content_block .items_row {
      margin-top: 40px; }
      #portfolio_modal .content_block .items_row .item {
        display: block;
        width: 100%;
        max-width: 100%; }
        #portfolio_modal .content_block .items_row .item .title {
          margin-bottom: 30px;
          display: inline-block; }
          #portfolio_modal .content_block .items_row .item .title:before {
            width: 120%; }
      #portfolio_modal .content_block .items_row .item + .item {
        margin-top: 40px; }
  #portfolio_modal .photos {
    height: 92px;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 320px;
    width: 100%;
    text-align: center;
    overflow: visible;
    margin-left: 30px;
    margin-right: 50px; }
    #portfolio_modal .photos li {
      margin-top: 0 !important; }
      #portfolio_modal .photos li a:before {
        display: none; }
    #portfolio_modal .photos .slick-prev {
      left: -30px;
      top: 50%;
      margin-top: -5px; }
    #portfolio_modal .photos .slick-next {
      left: initial;
      right: -30px;
      top: 50%;
      margin-top: -5px; }
  #portfolio_modal .desctop {
    display: none; }
  #portfolio_modal .mobile {
    display: block; }
  [class*='col-'] {
    width: 100%; }
  .main_wrap {
    padding: 0; }
  #right_col, #left_col {
    display: none; }
  #mobile_menu_trigger {
    display: block; }
  #menu_modal {
    left: 0; }
    #menu_modal #close_menu_modal {
      right: -55px; }
    #menu_modal .portfolio_trigger {
      right: -50px; }
    #menu_modal .top {
      display: none; }
    #menu_modal .menu_list {
      padding-left: 0;
      margin-top: 60px; }
  #sec_01 {
    height: auto;
    padding-bottom: 60px; }
    #sec_01:before {
      display: none; }
    #sec_01 .content_box {
      padding-top: 90px;
      margin-top: -3px; }
      #sec_01 .content_box .header_main {
        font-size: 50px;
        margin-bottom: 40px; }
    #sec_01 .pattern_box {
      right: 0; }
    #sec_01 .slider_01 {
      right: 0px;
      left: 0px;
      top: 51px;
      -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
      transform: translateY(0%);
      bottom: initial;
      overflow: hidden;
      max-height: 400px; }
      #sec_01 .slider_01:before {
        content: "";
        position: absolute;
        width: 200%;
        height: 200%;
        z-index: 10;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.6); }
    #sec_01 .sec_01-slider_controll {
      display: none; }
    #sec_01 .btn_block {
      margin-top: 160px;
      margin-bottom: 0; }
      #sec_01 .btn_block .btn_white {
        padding: 3px 10px 0; } }

@media (max-width: 560px) {
  #sec_01 .adress {
    font-size: 10px;
    margin-left: 20px; }
  #sec_01 .company {
    margin-left: 20px; } }

@media (max-width: 540px) {
  #mobile_menu_trigger.scrolled {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px); }
  #mobile_menu_trigger {
    top: 0; }
  #portfolio_modal .slide_number {
    display: none; }
  #portfolio_modal .container {
    padding: 0 15px 0px;
    min-width: 300px; }
  #portfolio_modal .top {
    margin-bottom: 30px; }
  #portfolio_modal .content_block .description_text {
    width: 100%; }
  #portfolio_modal .content_block .items_row .item + .item {
    margin-top: 30px; }
  #portfolio_modal .photos {
    width: 320px; }
    #portfolio_modal .photos img {
      width: 152px; }
  .title {
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0; }
  .header {
    font-size: 30px;
    line-height: 36px;
    letter-spacing: .03em; }
  .header_main {
    font-size: 60px;
    line-height: 39px;
    letter-spacing: .015em; }
  #sec_01 {
    padding-bottom: 80px;
    padding-top: 0; }
    #sec_01 .top {
      display: none; }
    #sec_01 .company.mobile {
      display: inline-block;
      line-height: 60px;
      margin-left: 0; }
    #sec_01 .adress.mobile {
      display: inline-block;
      line-height: 60px; }
    #sec_01 .pattern_box {
      top: 94px; }
    #sec_01 .content_box {
      margin-top: 0;
      padding-top: 0px; }
      #sec_01 .content_box .header_main {
        font-size: 37px;
        line-height: 42px;
        margin: 0 -15px;
        padding: 80px 15px 60px;
        background-image: url(../img/sec_01-mob.png);
        background-position: top -40px center;
        background-repeat: no-repeat;
        margin-bottom: 40px; }
      #sec_01 .content_box .underheader {
        font-size: 14px; }
      #sec_01 .content_box:before {
        top: 60px;
        width: 30px; }
    #sec_01 .btn_block {
      margin-bottom: 0;
      margin-top: 40px; }
    #sec_01 .slider_01 {
      display: none; }
    #sec_01 .btn_wrap {
      vertical-align: top; }
    #sec_01 .btn_wrap + .btn_wrap {
      margin-top: 30px;
      margin-left: 0; }
    #sec_01 .btn_white, #sec_01 .btn {
      width: 100%;
      max-width: 100%;
      text-align: center;
      vertical-align: top; }
    #sec_01 .btn_white {
      width: 240px; }
    #sec_01 .btn_block {
      text-align: center; }
    #sec_01 .btn_wrap {
      display: block !important; } }

@media (max-width: 430px) {
  #sec_01 .adress.mobile {
    display: block;
    line-height: 35px; }
  #portfolio_modal .photos {
    max-width: 155px; } }

.anim_cont {
  opacity: 0; }

.animation .mask {
  width: 160%;
  position: absolute;
  z-index: 3;
  left: 0;
  height: 0%;
  background: #222;
  -webkit-animation: animationFrames 1s;
  animation: animationFrames 1s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.animation .anim_cont {
  opacity: 0;
  -webkit-animation: animationCont 1s;
  animation: animationCont 1s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.animation {
  overflow: hidden;
  position: relative; }

.animation_block {
  overflow: hidden;
  position: relative; }

.content_animation {
  opacity: 1; }

.fade-in-left {
  -webkit-animation: fade-in-left 0.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
  animation: fade-in-left 0.7s cubic-bezier(0.86, 0, 0.07, 1) forwards; }

.fade-in-right {
  -webkit-animation: fade-in-right 0.7s cubic-bezier(0.755, 0.05, 0.855, 0.06) forwards;
  animation: fade-in-right 0.7s cubic-bezier(0.755, 0.05, 0.855, 0.06) forwards; }

.fade-in-bottom {
  -webkit-animation: fade-in-bottom 0.7s cubic-bezier(0.755, 0.05, 0.855, 0.06) forwards;
  animation: fade-in-bottom 0.7s cubic-bezier(0.755, 0.05, 0.855, 0.06) forwards; }

.fade-in-top {
  -webkit-animation: fade-in-top 0.7s cubic-bezier(0.755, 0.05, 0.855, 0.06) forwards;
  animation: fade-in-top 0.7s cubic-bezier(0.755, 0.05, 0.855, 0.06) forwards; }

.puff-in-hor {
  -webkit-animation: puff-in-hor 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: puff-in-hor 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both; }

@-webkit-keyframes puff-in-hor {
  0% {
    -webkit-transform: scaleX(2);
    transform: scaleX(2);
    -webkit-filter: blur(2px);
    filter: blur(2px);
    opacity: 0; }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

@keyframes puff-in-hor {
  0% {
    -webkit-transform: scaleX(2);
    transform: scaleX(2);
    -webkit-filter: blur(2px);
    filter: blur(2px);
    opacity: 0; }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-120px);
    transform: translateX(-120px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-120px);
    transform: translateX(-120px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(120px);
    transform: translateX(120px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(120px);
    transform: translateX(120px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-150px);
    transform: translateY(-150px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-150px);
    transform: translateY(-150px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@-webkit-keyframes animationFrames {
  0% {
    -webkit-transform: translate(60%, 0);
    transform: translate(60%, 0);
    height: 0%;
    opacity: 1; }
  40% {
    -webkit-transform: translate(60%, 0);
    transform: translate(60%, 0);
    height: 100%;
    opacity: 1; }
  99% {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    height: 100%;
    opacity: 1; }
  100% {
    -webkit-transform: translate(-105%, 0);
    transform: translate(-105%, 0);
    height: 100%;
    opacity: 0; } }

@keyframes animationFrames {
  0% {
    -webkit-transform: translate(60%, 0);
    transform: translate(60%, 0);
    height: 0%;
    opacity: 1; }
  40% {
    -webkit-transform: translate(60%, 0);
    transform: translate(60%, 0);
    height: 100%;
    opacity: 1; }
  99% {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    height: 100%;
    opacity: 1; }
  100% {
    -webkit-transform: translate(-105%, 0);
    transform: translate(-105%, 0);
    height: 100%;
    opacity: 0; } }

@-webkit-keyframes animationCont {
  0% {
    -webkit-transform: translate(20%, 0);
    transform: translate(20%, 0);
    opacity: 0; }
  50% {
    -webkit-transform: translate(20%, 0);
    transform: translate(20%, 0);
    opacity: 0; }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; } }

@keyframes animationCont {
  0% {
    -webkit-transform: translate(20%, 0);
    transform: translate(20%, 0);
    opacity: 0; }
  50% {
    -webkit-transform: translate(20%, 0);
    transform: translate(20%, 0);
    opacity: 0; }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; } }
