@import "bourbon";



$main_text_color: #000;
$second_color: #fff;
$main_color : #f4e821;

$main_font: 'GothamProRegular', sans-serif;
$main_title_font: 'GothamProBlack', sans-serif;
$light_font: 'GothamProLight', sans-serif;

$title_font: 'GothamProMedium', sans-serif;
$btn_font: 'GothamProBold', sans-serif;
$italic_font: 'AngleciaProDisplay-SemiBoldItal', sans-serif;
