body {
  position: relative;
  font: 14px/24px "GothamProRegular", sans-serif;
  color: #000;
  background-color: #fff;
  letter-spacing: .01em; }

body.unscroll {
  overflow: hidden; }

.main_wrap {
  padding: 0 45px;
  position: relative;
  overflow: hidden; }

.md-modal.md-show {
  opacity: 1; }

.md-modal {
  opacity: 0; }

.text--header {
  font-family: "GothamProBlack", sans-serif; }

.text--title {
  font-family: "GothamProMedium", sans-serif; }

.text--light {
  font-family: "GothamProLight", sans-serif; }

.text--italic {
  font-family: "AngleciaProDisplay-SemiBoldItal", sans-serif; }

.text--yellow {
  color: #f4e821; }

.title {
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  letter-spacing: 0; }

.header {
  font-size: 38px;
  line-height: 44px;
  letter-spacing: .03em; }

.header_main {
  font-size: 76px;
  line-height: 59px;
  text-transform: uppercase;
  letter-spacing: .015em; }

/* SCROLL BAR STYLES*/
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3); }

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: #f4e821; }

::-webkit-scrollbar-thumb:window-inactive {
  background: #f4e821; }

.hidden {
  height: 0;
  width: 0; }

.btn {
  width: 280px;
  height: 60px;
  border: 3px solid #f4e821;
  background-color: transparent;
  color: #f4e821;
  font: 12px "GothamProBold", sans-serif;
  text-transform: uppercase;
  padding-top: 3px;
  letter-spacing: .2em; }
  .btn:hover {
    background: #f4e821;
    border: 3px solid #000;
    color: #000; }

.btn_white {
  width: 280px;
  height: 60px;
  border: 3px solid #ffffff;
  background-color: #ffffff;
  color: #000;
  font: 12px "GothamProBold", sans-serif;
  text-transform: uppercase;
  padding-top: 3px;
  letter-spacing: .2em; }
  .btn_white:hover {
    background: #f4e821;
    border: 3px solid #000;
    color: #000; }

#sec_01 {
  position: relative;
  padding: 9px 0 70px;
  color: #fff;
  min-height: 100vh;
  overflow: hidden;
  background-image: url(../img/success-bg.png);
  background-position: top -50px center;
  background-repeat: no-repeat; }
  #sec_01:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 60px;
    left: 0px;
    top: 0px;
    background: #fff;
    z-index: 1; }
  #sec_01 .top {
    position: relative;
    z-index: 20;
    padding-bottom: 7px;
    padding-top: 5px; }
    #sec_01 .top .phone_box {
      margin-top: 8px;
      float: right; }
    #sec_01 .top .tel {
      color: #000;
      position: relative;
      letter-spacing: .025em; }
      #sec_01 .top .tel:before {
        content: "";
        position: absolute;
        width: 0;
        height: 1px;
        bottom: -4px;
        left: 0;
        background: #000;
        -webkit-transition: width .5s;
        transition: width .5s; }
      #sec_01 .top .tel:hover:before {
        width: 100%; }
  #sec_01 .content_box {
    position: relative;
    z-index: 10;
    padding-top: 110px;
    margin-top: 210px; }
    #sec_01 .content_box:before {
      content: "";
      position: absolute;
      width: 50px;
      height: 3px;
      top: 0;
      left: 0;
      background-color: #f4e821; }
  #sec_01 h1 {
    margin-bottom: 45px; }
  #sec_01 .underheader {
    position: relative;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: .02em;
    margin-bottom: 40px; }
  #sec_01 footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10; }

footer {
  padding: 15px 0 5px;
  background-color: #fff; }
  footer .politics {
    margin-top: 17px; }
    footer .politics a {
      color: #65666a;
      font-size: 14px; }
    footer .politics a:hover {
      color: #f4e821; }
    footer .politics a + a {
      margin-left: 10px; }
  footer .logo_rezart {
    margin-top: -10px;
    margin-bottom: -10px;
    width: 80px;
    float: right;
    position: relative; }
    footer .logo_rezart:hover svg {
      -webkit-transition: all .4s;
      transition: all .4s;
      fill: #f4e821; }

@media (max-height: 900px) and (min-height: 761px) {
  #sec_01 .content_box {
    margin-top: 100px; } }

@media (max-height: 760px) and (min-height: 560px) {
  #sec_01 .content_box {
    margin-top: 20px; } }

@media (min-width: 768px) and (max-width: 991px) {
  #sec_01 {
    background-image: url(../img/mob-bg.png);
    background-position: top center;
    background-repeat: no-repeat; }
  footer .politics a {
    font-size: 13px;
    letter-spacing: 0; } }

@media screen and (max-height: 760px) {
  .md_large .md_content {
    max-height: 320px; } }

@media (max-width: 767px) {
  [class*='col-'] {
    width: 100% !important; }
  #sec_01 {
    padding-bottom: 200px;
    background-image: url(../img/mob-bg.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover; }
    #sec_01 .header_main {
      font-size: 58px; }
    #sec_01 .content_box {
      margin-top: 7px; }
  footer {
    text-align: center; }
    footer .politics a {
      font-size: 14px;
      display: block;
      text-align: center; }
    footer .politics a + a {
      margin-left: 0; }
    footer .logo_rezart {
      display: inline-block;
      float: none;
      margin-top: 20px; }
  div[id*='modal_politics'] h2 {
    padding-top: 70px; }
  div[id*='modal_politics'] .btn_close_modal {
    top: 20px; } }

@media (max-width: 535px) {
  [class*='col-'] {
    width: 100% !important; }
  #sec_01 .header_main {
    font-size: 34px; } }
